<nav>
    <h1>Randon</h1>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Gear</a></li>
        <li><a href="">Trails</a></li>
        <li><a href="">Events</a></li>
        <li><a href="">Tips</a></li>
        <li><a href="">Explore</a></li>
        <li><a href="">Account</a></li>
    </ul>
</nav>