{{>nav}}
<form action="" method="POST">

    <h2>Bike</h2>

    <label for="bike">Bike</label>
    <input type="text" name="bike" id="" value="">
    <br>
    
    <label for="fname">First Name
        <input type="text">
    </label>

    <input type="text" name="clothes" value="" placeholder="clothes">

    <input type="submit" name="" value="submit">
</form>
{{>footer}}